################################################################################
# Git ignore configuration. Uses glob-like patterns to prevent adding that     #
# file to the project repository.                                              #
################################################################################
